<div class="container">

   <footer class="footer">

    <small>

      Awesome © <a href="enter in a link here">Pelco_System</a>

       by <a href="enter in a link here">RippleTech</a>

    </small>

    <nav>

      <ul>

        <li><%= link_to "Sign up", signup_path %></li>

      </ul>

     </nav>

    </footer>

</div>
