<div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">
    <div id="sidebar-menu">

    	 <li class="panel">
          
            <span><%= link_to "组1", '#' %></span>
          
         
        </li>
    </div>
</div>
</div>